.tariff .category button {
    border: 1px solid var(--bs-primary);
    color: var(--bs-primary);
    background-color: transparent;
    padding: 7px 5px;
    width: 100%;
    transition: 0.3s;
}

.tariff .category button:first-child {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.tariff .category button:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.tariff .category button:hover {
    background-color: var(--bs-primary);
    color: white;
}