.edit-button,
.delete-button {
    font-size: 1.3rem;
    cursor: pointer;
    color: #0d6efd;
    transition: all 0.3s;
}

.edit-button:hover {
    color: black;
}

.delete-button:hover {
    color: red;
}

.save-button {
    color: green
}

.save-button:hover {
    color: darkgreen;
}

.cross-button {
    color: red;
}

.cross-button:hover {
    color: orangered;
}

.add-button {
    color: green;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
}